<div id="mobile-menu" class="mobile__menu position--fixed flex flex--justify-center text--center">
    <nav class="mobile__menu-nav flex flex--align-center flex--column">
        <ul class="mobile__menu-main position--relative mb--30">
            <li class="pt--15 pb--15">
                <a href="#explore" class="mobile__menu-link color--text font--size-16 font--medium">Explore</a>
            </li>

            <li class="pt--15 pb--15">
                <a href="#features" class="mobile__menu-link color--text font--size-16 font--medium">Features</a>
            </li>

            <li class="pt--15 pb--15">
                <a href="#pricing" class="mobile__menu-link color--text font--size-16 font--medium">Pricing</a>
            </li>

            <li class="pt--15 pb--15 mb--10">
                <a href="https://cm.fitofan.com/demo" target="_blank" rel="nofollow noopener" class="mobile__menu-link color--text font--size-16 font--medium">Try Demo</a>
            </li>

            <li class="flex flex--justify-center">
                <button type="button" class="mobile__menu-chat position--relative flex">
                    <img loading="lazy" width="24" height="24" class="mobile__menu-chat-icon" src="./img/icons/icon_chat.svg" alt="Icon Chat">

                    <span class="flex color--green font--medium font--size-16">Chat</span>
                </button>
            </li>
        </ul>

        <ul class="pt--30">
            <li class="mb--15">
                <span class="font--size-16 font--medium color--light-gray">Fitofan App</span>
            </li>

            <li class="mb--15">
                <a href="https://apps.apple.com/no/app/fitofan-touch/id6737709663" target="_blank" rel="nofollow noopener" class="color--text font--size-14 font--medium">
                    <img loading="lazy" width="120" height="41" src="./img/footer/image_appstore.svg" alt="Download on the AppStore">
                </a>
            </li>

            <li>
                <a href="https://play.google.com/store/apps/details?id=com.fitofan.mobile" target="_blank" rel="nofollow noopener" class="color--text font--size-14 font--medium">
                    <img loading="lazy" width="120" height="41" src="./img/footer/image_googleplay.svg" alt="Get it on GooglePlay">
                </a>
            </li>
        </ul>
    </nav>
</div>