.section__features {
    padding-top: 50px;

    &-title {
        &-mobile {
            @media (min-width: 1024px) {
                display: none;
            }
        }

        &-desktop {
            display: none;

            @media (min-width: 1024px) {
                display: block;
            }
        }
    }

    &-container {
        gap: 16px 16px;
        padding: 0 16px;
        margin-left: auto;
        margin-right: auto;
        max-width: 425px;

        @media (min-width: 768px) {
            max-width: 100%;
        }

        @media (min-width: 1024px) {
            max-width: 960px;
            margin-bottom: 0;
            padding-bottom: 128px;
        }

        .section__features-card {
            &:nth-of-type(1) {
                &:hover {
                    border: 1px solid rgba(255, 122, 48, .4);

                    .section__features-image {
                        &:before {
                            background-color: rgba(255, 122, 48, .8);
                        }
                    }
                }

                .section__features-image {
                    &:before {
                        background-color: rgba(255, 122, 48, .4);
                    }

                    @media (min-width: 1024px) {
                        svg {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            &:nth-of-type(2) {
                &:hover {
                    border: 1px solid rgba(252, 181, 46, .4);

                    .section__features-image {
                        &:before {
                            background-color: rgba(252, 181, 46, .8);
                        }
                    }
                }

                .section__features-image {
                    &:before {
                        background-color: rgba(252, 181, 46, .4);
                    }

                    @media (min-width: 1024px) {
                        svg {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            &:nth-of-type(3) {
                &:hover {
                    border: 1px solid rgba(21, 176, 230, .5);

                    .section__features-image {
                        &:before {
                            background-color: rgba(21, 176, 230, .8);
                        }
                    }
                }

                .section__features-image {
                    &:before {
                        background-color: rgba(21, 176, 230, .5);
                    }

                    @media (min-width: 1024px) {
                        svg {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            &:nth-of-type(4) {
                &:hover {
                    border: 1px solid rgba(185, 49, 233, .5);

                    .section__features-image {
                        &:before {
                            background-color: rgba(185, 49, 233, .8);
                        }
                    }
                }

                .section__features-image {
                    &:before {
                        background-color: rgba(185, 49, 233, .5);
                    }

                    @media (min-width: 1024px) {
                        svg {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }

                @media (min-width: 1024px) {
                    .section__features-text {
                        padding: 0 10px;
                    }
                }
            }

            &:nth-of-type(5) {
                &:hover {
                    border: 1px solid rgba(10, 138, 130, .5);

                    .section__features-image {
                        &:before {
                            background-color: rgba(10, 138, 130, .8);
                        }
                    }
                }

                .section__features-image {
                    &:before {
                        background-color: rgba(10, 138, 130, .5);
                    }

                    @media (min-width: 1024px) {
                        svg {
                            width: 60px;
                            height: 54px;
                        }
                    }
                }
            }

            &:nth-of-type(6) {
                &:hover {
                    border: 1px solid rgba(40, 126, 254, .5);

                    .section__features-image {
                        &:before {
                            background-color: rgba(40, 126, 254, .8);
                        }
                    }
                }

                .section__features-image {
                    &:before {
                        background-color: rgba(40, 126, 254, .5);
                    }

                    @media (min-width: 1024px) {
                        svg {
                            width: 60px;
                            height: 54px;
                        }
                    }
                }
            }

            &:nth-of-type(7) {
                &:hover {
                    border: 1px solid rgba(236, 67, 67, .4);

                    .section__features-image {
                        &:before {
                            background-color: rgba(236, 67, 67, .8);
                        }
                    }
                }

                .section__features-image {
                    &:before {
                        background-color: rgba(236, 67, 67, .4);
                    }

                    @media (min-width: 1024px) {
                        svg {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            &:nth-of-type(8) {
                &:hover {
                    border: 1px solid rgba(37, 118, 58, .6);

                    .section__features-image {
                        &:before {
                            background-color: rgba(37, 118, 58, .8);
                        }
                    }
                }

                .section__features-image {
                    &:before {
                        background-color: rgba(37, 118, 58, .6);
                    }

                    @media (min-width: 1024px) {
                        svg {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }

    &-card {
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, .1);
        background-color: #151515;
        overflow: hidden;
        flex: 1 1 calc(50% - 8px);
        transition: border .4s ease;
        padding: 8px 10px 11px 10px;
        word-break: auto-phrase;

        @media (min-width: 768px) {
            flex: 1 1 calc(25% - 15px);
            padding: 16px 16px 24px;
            border-radius: 24px;
        }

        @media (min-width: 1024px) {
            flex: 1 1 calc(25% - 15px);
            padding: 20px 19px 25px;

            &-title {
                @include font(16);

                font-weight: 500;
            }
        }
    }

    &-image {
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100px;
            height: 40px;
            filter: blur(50px);
            transition: all .4s;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    &-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        color: rgba(255, 255, 255, 0.25);
        text-overflow: ellipsis;
        line-height: 15px;

        @media (min-width: 1024px) {
            @include font(12);

            -webkit-line-clamp: 3;
            line-height: 16px;
        }
    }

    &-subtitle {
        color: rgba(255, 255, 255, 0.25);
        text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        max-width: 275px;

        @media (min-width: 1024px) {
            max-width: 1440px;
            text-align: left;
            padding-left: 80px;
            padding-right: 80px;

            @include font(32);
        }
    }

    &-item {
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, .1);
        overflow: hidden;
        background-color: var(--color--surface-dark);

        @media (min-width: 426px) {
            height: auto;
        }

        &:nth-of-type(1) .section__features-item-head {
            background-image: url('../img/sections/section-features/gradient_members.svg');
        }

        /*&:nth-of-type(1) .section__features-item-text {
            max-width: 255px;
        }*/



        &:nth-of-type(2) .section__features-item-head {
            background-image: url('../img/sections/section-features/gradient_classes.svg');
        }



        &:nth-of-type(3) .section__features-item-head {
            background-image: url('../img/sections/section-features/gradient_schedule.svg');
        }



        &:nth-of-type(4) .section__features-item-head {
            background-image: url('../img/sections/section-features/gradient_attendance.svg');
        }

        /*&:nth-of-type(4) .section__features-item-text {
            max-width: 285px;
        }*/



        &:nth-of-type(5) .section__features-item-head {
            background-image: url('../img/sections/section-features/gradient_packages.svg');
        }

        /*&:nth-of-type(5) .section__features-item-text {
            max-width: 295px;
        }*/



        &:nth-of-type(6) .section__features-item-head {
            background-image: url('../img/sections/section-features/gradient_finance.svg');
        }


        &:nth-of-type(7) .section__features-item-head {
            background-image: url('../img/sections/section-features/gradient_marketplace.svg');
        }

        /*&:nth-of-type(7) .section__features-item-text {
            max-width: 260px;
        }*/



        &:nth-of-type(8) .section__features-item-head {
            background-image: url('../img/sections/section-features/gradient_texter.svg');
        }


        &-head {
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;

            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(45deg, transparent, #090909b5);
            }
        }

        &-icon {
            filter: drop-shadow(0 0 10px rgba(185, 49, 233, .4));
            margin-left: -10px;
        }

        &-media {
            width: 100%;
            height: 54vw;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &-wrapper {
            z-index: 1;
        }
    }

    @media (min-width: 1024px) {
        &-cards {
            display: none;
        }
    }
}