.section__discover {
    width: 100%;

    &-video {
        max-width: 1300px;
        height: 56vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-height: 730px;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(9, 9, 9, 0.00) 0%, #090909 84.84%);
            z-index: 0;
            pointer-events: none;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 2px;
            display: block;
            max-width: 1300px;
            width: 100%;
            background: radial-gradient(100% 100% at 50% 0, rgba(255, 255, 255, 0.42) 0%, rgb(9, 9, 9) 55%);
        }
    }

    &-wrapper {
        max-width: 1300px;
        width: 100vw;
        height: 56vw;
        margin: 0 auto;
        max-height: 730px;
    }

    &-product {
        z-index: 1;
        left: 0;
        right: 0;
        bottom: -60px;

        @media (min-width: 768px) {
            bottom: -35px;
        }

        @media (min-width: 1024px) {
            bottom: 0;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -60px;
            left: 50%;
            height: 2px;
            display: block;
            background: radial-gradient(100% 100% at 50% 0, rgba(255, 255, 255, 0.42) 0%, rgb(9, 9, 9) 55%);
            width: 70%;
            max-width: 1300px;
            transform: translateX(-50%);
        }
    }

    &-container {
        width: 100%;
        max-width: 154px;
        gap: 8px;

        .btn {
            width: 121px;
            height: 32px;
        }
    }
}