<footer class="footer pb--30 pl--15 pr--15">
    <div class="footer__wrapper">
        <div class="footer__container">
            <img loading="lazy" class="mb--30" width="79" height="24" src="./img/header/header_logo.svg" alt="Logo Fitofan">

            <h2 class="flex flex--column color--white mb--30">
                <span class="footer__container-title font--thin font--size-24 text--uppercase">Your club</span>
                <span class="footer__container-subtitle font--medium font--size-36">Management</span>
            </h2>
        </div>

        <nav class="footer__nav flex flex--justify-between mb--30">
            <ul class="flex flex--column">
                <li class="mb--15">
                    <span class="footer__nav-item font--size-16 font--medium color--light-gray">Management</span>

                    <span class="footer__nav-item-desktop font--size-16 font--medium color--light-gray">Club Management</span>
                </li>

                <li class="mb--15">
                    <a href="#" class="footer__nav-link color--text font--size-14 font--medium">Explore</a>
                </li>

                <li class="mb--15">
                    <a href="#" class="footer__nav-link color--text font--size-14 font--medium">Features</a>
                </li>

                <li class="mb--15">
                    <a href="#" class="footer__nav-link color--text font--size-14 font--medium">Pricing</a>
                </li>

                <li>
                    <a href="https://cm.fitofan.com/demo" target="_blank" rel="nofollow noopener" class="footer__nav-link color--text font--size-14 font--medium">Try Demo</a>
                </li>
            </ul>

            <ul class="flex flex--column">
                <li class="mb--15">
                    <span class="font--size-16 font--medium color--light-gray">Connect</span>
                </li>

                <li class="mb--15">
                    <a href="https://www.instagram.com/fitofan_com" target="_blank" rel="nofollow noopener" class="footer__nav-link color--text font--size-14 font--medium">Instagram</a>
                </li>

                <li class="mb--15">
                    <a href="https://www.facebook.com/fitofancom" target="_blank" rel="nofollow noopener" class="footer__nav-link color--text font--size-14 font--medium">Facebook</a>
                </li>

                <li class="mb--15">
                    <a href="https://www.youtube.com/@Fitofan-Ukraine" target="_blank" rel="nofollow noopener" class="footer__nav-link color--text font--size-14 font--medium">Youtube</a>
                </li>

                <li class="mb--15">
                    <a href="https://www.linkedin.com/company/fitofan/" target="_blank" rel="nofollow noopener" class="footer__nav-link color--text font--size-14 font--medium">Linkedin</a>
                </li>
            </ul>

            <ul class="flex flex--column">
                <li class="mb--15">
                    <span class="font--size-16 font--medium color--light-gray">Fitofan App</span>
                </li>

                <li class="mb--15">
                    <a href="https://apps.apple.com/ca/app/fitofan/id6475638965" target="_blank" rel="nofollow noopener">
                        <img loading="lazy" width="120" height="41" src="./img/footer/image_appstore.svg" alt="Download on the AppStore">
                    </a>
                </li>

                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.fitofan.mobile" target="_blank" rel="nofollow noopener">
                        <img loading="lazy" width="120" height="41" src="./img/footer/image_googleplay.svg" alt="Get it on GooglePlay">
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <ul class="footer__info flex flex--align-center flex--justify-between">
        <li>
            <a href="/" class="footer__nav-link-info font--normal font--size-16 color--light-gray">© Fitofan 2025</a>
        </li>

        <li>
            <a href="#" class="footer__nav-link-info font--normal font--size-16 color--light-gray">Privacy Policy</a>
        </li>

        <li>
            <a href="#" class="footer__nav-link-info font--normal font--size-16 color--light-gray">Terms</a>
        </li>
    </ul>

    <div class="footer__info-desktop flex--align-center flex--justify-between">
        <a href="/" class="footer__nav-link-info font--normal font--size-16 color--light-gray">All rights reserved by © Fitofan 2025</a>

        <ul class="footer__info-desktop-links flex flex--align-center">
            <li>
                <a href="#" class="footer__nav-link-info font--normal font--size-16 color--light-gray">Privacy Policy</a>
            </li>

            <li>
                <a href="#" class="footer__nav-link-info font--normal font--size-16 color--light-gray">Terms</a>
            </li>
        </ul>
    </div>
</footer>