<section data-id="members" class="section__features-item mb--15">
    <header class="section__features-item-head pt--15 pb--25 pl--25 pr--25">
        <div class="section__features-item-wrapper position--relative">
            <div class="flex flex--align-center mb--15">
                <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_members.svg" alt="Icon Members">

                <h2 class="color--orange font--size-20 font--medium">Members</h2>
            </div>

            <p class="section__features-item-text color--text font--size-28 font--medium">Manage members’ profiles with AI support tools to keep them engaged</p>
        </div>
    </header>

    <div class="section__features-item-media lazy-bg" data-bg="./img/sections/section-features/image_members.webp"></div>
</section>

<section data-id="classes" class="section__features-item mb--15">
    <header class="section__features-item-head pt--15 pb--25 pl--25 pr--25">
        <div class="section__features-item-wrapper position--relative">
            <div class="flex flex--align-center mb--15">
                <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_classes.svg" alt="Icon Classes">

                <h2 class="color--yellow font--size-20 font--medium">Classes</h2>
            </div>

            <p class="section__features-item-text color--text font--size-28 font--medium">Create and add classes and special courses instantly updating your schedule</p>
        </div>
    </header>

    <div class="section__features-item-media lazy-bg" data-bg="./img/sections/section-features/animation_classes.webp"></div>
</section>

<section data-id="schedule" class="section__features-item mb--15">
    <header class="section__features-item-head pt--15 pb--25 pl--25 pr--25">
        <div class="section__features-item-wrapper position--relative">
            <div class="flex flex--align-center mb--15">
                <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_schedule.svg" alt="Icon Schedule">

                <h2 class="color--sky-blue font--size-20 font--medium">Schedule</h2>
            </div>

            <p class="section__features-item-text color--text font--size-28 font--medium">Publish and edit your schedule live on your public club page and share to all social networks</p>
        </div>
    </header>

    <div class="section__features-item-media lazy-bg" data-bg="./img/sections/section-features/animation_schedule.webp"></div>
</section>

<section data-id="attendance" class="section__features-item mb--15">
    <header class="section__features-item-head pt--15 pb--25 pl--25 pr--25">
        <div class="section__features-item-wrapper position--relative">
            <div class="flex flex--align-center mb--15">
                <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_attendance.svg" alt="Icon Attendance">

                <h2 class="color--purple font--size-20 font--medium">Attendance</h2>
            </div>

            <p class="section__features-item-text color--text font--size-28 font--medium">Track attendance and get notified when athletes are ready to test</p>
        </div>
    </header>

    <div class="section__features-item-media lazy-bg" data-bg="./img/sections/section-features/animation_attendance.webp"></div>
</section>

<section data-id="packages" class="section__features-item mb--15">
    <header class="section__features-item-head pt--15 pb--25 pl--25 pr--25">
        <div class="section__features-item-wrapper position--relative">
            <div class="flex flex--align-center mb--15">
                <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_packages.svg" alt="Icon Attendance">

                <h2 class="color--teal font--size-20 font--medium">Packages</h2>
            </div>

            <p class="section__features-item-text color--text font--size-28 font--medium">Set up membership plans, pricing options and automatic subscriptions</p>
        </div>
    </header>

    <div class="section__features-item-media lazy-bg" data-bg="./img/sections/section-features/animation_packages.webp"></div>
</section>

<section data-id="finance" class="section__features-item mb--15">
    <header class="section__features-item-head pt--15 pb--25 pl--25 pr--25">
        <div class="section__features-item-wrapper position--relative">
            <div class="flex flex--align-center mb--15">
                <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_finance.svg" alt="Icon Finance">

                <h2 class="color--blue font--size-20 font--medium">Finance</h2>
            </div>

            <p class="section__features-item-text color--text font--size-28 font--medium">Set up membership plans, pricing options and automatic subscriptions</p>
        </div>
    </header>

    <div class="section__features-item-media lazy-bg" data-bg="./img/sections/section-features/animation_finance.webp"></div>
</section>

<section data-id="marketplace" class="section__features-item mb--15">
    <header class="section__features-item-head pt--15 pb--25 pl--25 pr--25">
        <div class="section__features-item-wrapper position--relative">
            <div class="flex flex--align-center mb--15">
                <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_marketplace.svg" alt="Icon Marketplace">

                <h2 class="color--red font--size-20 font--medium">Marketplace</h2>
            </div>

            <p class="section__features-item-text color--text font--size-28 font--medium">Manage your inventories, sell online, fulfill orders and download all reports</p>
        </div>
    </header>

    <div class="section__features-item-media lazy-bg" data-bg="./img/sections/section-features/animation_marketplace.webp"></div>
</section>

<section data-id="texter" class="section__features-item mb--15">
    <header class="section__features-item-head pt--15 pb--25 pl--25 pr--25">
        <div class="section__features-item-wrapper position--relative">
            <div class="flex flex--align-center mb--15">
                <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_texter.svg" alt="Icon Texter">

                <h2 class="color--moss font--size-20 font--medium">Texter</h2>
            </div>

            <p class="section__features-item-text color--text font--size-28 font--medium">Connect with club members via Fitofan App notifications personally and in custom groups</p>
        </div>
    </header>

    <div class="section__features-item-media lazy-bg" data-bg="./img/sections/section-features/animation_texter.webp"></div>
</section>