<section class="section__discover pt--30 pb--30 pl--15 pr--15">
    <h2 id="demo" class="title font--size-32 font--medium text--center mb--25">Try Demo</h2>

    <div class="section__discover-video-wrapper position--relative">
        <video class="section__discover-video position--relative lazy" autoplay muted loop playsinline>
            <source data-src="./img/sections/section-discover/video_discover.webm" type="video/webm">
        </video>

        <div class="section__discover-product position--absolute flex flex--column flex--justify-center flex--align-center">
            <img loading="lazy" class="mb--15" width="79" height="24" src="./img/header/header_logo.svg" alt="Logo Fitofan">

            <h3 class="title font--size-20 font--medium text--center mb--15">Discover Product</h3>

            <div class="section__discover-container flex flex--align-center flex--justify-center pl--15 pr--15">
                <a href="https://cm.fitofan.com/demo" target="_blank" rel="nofollow noopener" class="btn btn--transparent color--green flex flex--justify-center flex--no-shrink flex--align-center font--medium">Demo</a>

                <button type="button" class="btn btn--filled meet--js position--relative flex flex--justify-center flex--align-center flex--no-shrink">
                    <span class="btn--text color--white font--medium font--size-14 position--relative">Let’s Meet !</span>
                </button>
            </div>
        </div>
    </div>
</section>