<section class="section__main position--relative">
    <div class="section__main-container-video position--relative">
        <div id="animated-bg" class="section__main-video position--relative"></div>
    </div>

    <div class="section__main-container position--absolute">
        <img class="section__main-container-img section__main-container-img-desktop" loading="eager" src="./img/sections/section-main/image_table_desktop.webp" alt="Table Preview">

        <img class="section__main-container-img section__main-container-mobile" loading="eager" src="./img/sections/section-main/image_table_mobile.webp" alt="Table Preview">

        <div class="section__main-wrapper position--absolute">
            <div class="section__main-wrapper-content position--absolute">
                <h1 class="flex flex--column flex--align-center flex--justify-center color--white text--uppercase mb--30">
                    <span class="section__main-title font--thin font--size-65">Your club</span>
                    <span class="section__main-subtitle font--medium font--size-80">Management</span>
                </h1>

                <p class="section__main-text text--center color--light-gray font--normal font--size-16 mb--30">Take control of your sports club with Fitofan! Schedule classes, track attendance, and manage memberships— all in one seamless platform.</p>

                <div class="section__main-container-buttons flex flex--align-center pt--10">
                    <a href="https://cm.fitofan.com/demo" target="_blank" rel="nofollow noopener" class="btn btn--transparent color--green flex flex--no-shrink flex--justify-center flex--align-center font--medium">Demo</a>

                    <button type="button" class="btn btn--filled meet--js position--relative flex flex--justify-center flex--no-shrink flex--align-center">
                        <span class="btn--text color--white font--medium font--size-14 position--relative">Let’s Meet !</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="section__main-container-mobile position--relative">
        <h1 class="flex flex--column flex--align-center flex--justify-center color--white text--uppercase mb--30">
            <span class="section__main-title font--thin font--size-55">Your club</span>
            <span class="section__main-subtitle font--medium font--size-70">Management</span>
        </h1>

        <p class="section__main-text text--center color--light-gray font--normal font--size-16 mb--30">Take control of your sports club with Fitofan! Schedule classes, track attendance, and manage memberships— all in one seamless platform.</p>

        <div class="section__main-container-buttons flex flex--align-center">
            <a href="https://cm.fitofan.com/demo" target="_blank" rel="nofollow noopener" class="btn btn--transparent color--green flex flex--no-shrink flex--justify-center flex--align-center font--medium">Demo</a>

            <button type="button" class="btn btn--filled meet--js position--relative flex flex--justify-center flex--no-shrink flex--align-center">
                <span class="btn--text color--white font--medium font--size-14 position--relative">Let’s Meet !</span>
            </button>
        </div>
    </div>
</section>