<section class="section__hero">
    <div class="section__hero-video-container position--relative">
        <!--<video id="hero-video" class="section__hero-video position&#45;&#45;relative" muted aria-hidden="true">
            <source src="./img/sections/section-hero/video_background.webm" type="video/webm">
        </video>-->

        <video id="hero-video" class="section__hero-video position--relative lazy" autoplay muted loop playsinline>
            <source data-src="./img/sections/section-hero/normal.webm" type="video/webm">
        </video>
    </div>

    <figure class="section__hero-image-container position--absolute">
        <img class="section__hero-image" height="428" loading="lazy" src="./img/sections/section-hero/image_table.webp" alt="Table Preview">
    </figure>

    <div class="section__hero-wrapper position--relative pl--30 pr--30">
        <h1 class="flex flex--column flex--align-center flex--justify-center color--white text--uppercase mb--30">
            <span class="font--thin font--size-30">Your club</span>
            <span class="font--medium font--size-40">Management</span>
        </h1>

        <p class="section__hero-text text--center font--normal font--size-14 mb--30 pl--30 pr--30">Take control of your sports club with Fitofan! Schedule classes, track attendance, and manage memberships— all in one seamless platform.</p>

        <div class="flex flex--align-center flex--column pl--30 pr--30">
            <button type="button" class="btn btn--filled meet--js position--relative flex flex--justify-center flex--align-center mb--10">
                <span class="btn--text color--white font--medium font--size-14 position--relative">Let’s Meet !</span>
            </button>

            <a href="https://cm.fitofan.com/demo" target="_blank" rel="nofollow noopener" class="btn btn--transparent color--green flex flex--justify-center flex--align-center font--medium">Demo</a>
        </div>
    </div>
</section>