<section class="section__pricing position--relative pt--15 pb--20 pl--15 pr--15 mb--30">
    <h2 id="pricing" class="section__pricing-title title font--medium font--size-32 mb--15 pl--30 pr--30">Pricing</h2>

    <p class="section__pricing-subtitle color--light-gray font--size-20 font--normal pl--10">What you will get</p>

    <div class="section__pricing-container">
        <ul class="section__pricing-list position--relative pl--30 pr--10 mb--25">
            <li class="section__pricing-item position--relative font--size-12 font--normal color--text">Comprehensive Member Profiles – Track personal details, class attendance, payment history, competition results, and all communication in one place.</li>
            <li class="section__pricing-item position--relative font--size-12 font--normal color--text">Flexible Payment Options – Offer reoccurring memberships, one-time class passes, and periodic payment plans tailored to your club’s needs.</li>
            <li class="section__pricing-item position--relative font--size-12 font--normal color--text">Dynamic Scheduling – Easily update class schedules in real-time, display them on your Fitofan club page, and share instantly across social media.</li>
            <li class="section__pricing-item position--relative font--size-12 font--normal color--text">Seamless Attendance Tracking – Check-in athletes via QR code scan, name search, or selection from the attendance list.</li>
            <li class="section__pricing-item position--relative font--size-12 font--normal color--text">Hassle-Free Payments – Members can pay for classes online through your Fitofan club page or in person at the studio.</li>
            <li class="section__pricing-item position--relative font--size-12 font--normal color--text">Inventory & Online Store Management – Sell equipment, apparel, and other products both in-studio and through your online shop.</li>
            <li class="section__pricing-item position--relative font--size-12 font--normal color--text">Mobile App for Instant Communication – The Fitofan app (available on iOS & Android) keeps club members connected with quick messaging and updates.</li>
            <li class="section__pricing-item position--relative font--size-12 font--normal color--text">User-Friendly & Intuitive Interface – Manage your entire sports organization with ease using our sport-focused social media and all-in-one management tools.</li>
        </ul>

        <div class="section__pricing-card pl--30 pr--30 pt--30 pb--30">
            <h3 class="section__pricing-card-title font--normal font--size-24 color--white">Full Club Management</h3>

            <p class="section__pricing-text font--normal font--size-16 mb--15">Monthly subscription</p>

            <div class="flex flex--align-center flex--justify-between mb--15">
                <p class="flex color--green flex--align-baseline">
                    <span class="font--size-50 font--medium">$1</span>
                    <span class="section__pricing-month font--size-16 font--normal">/ First <span>month</span></span>
                </p>

                <div class="section__pricing-price flex">
                    <span class="font--size-50 font--medium">$99.</span>

                    <p class="flex flex--column pt--15">
                        <sup>only</sup>
                        <sub>99</sub>
                    </p>
                </div>
            </div>

            <p class="section__pricing-info font--size-12 font--normal color--muted mb--15">First month $1.00, monthly subscription of $99.99</p>

            <button type="button" class="section__pricing-btn btn btn--filled meet--js position--relative flex flex--justify-center flex--align-center">
                <span class="btn--text color--white font--medium font--size-14 position--relative">Let’s Meet !</span>
            </button>
        </div>
    </div>
</section>