<section class="testimonials">
    <div class="testimonials__content flex flex--align-center flex--justify-center">
        <h2 class="testimonials__title-mobile font--size-40 font--medium color--text">What Our Users Are Saying</h2>

        <div class="testimonials__slider position--relative flex--no-shrink">
            <img data-img="1" loading="lazy" height="445" width="752" class="testimonials__slide position--absolute active" src="./img/sections/section-testimonials/slide_1.webp" alt="Slide 1">
            <img data-img="2" loading="lazy" height="445" width="752" class="testimonials__slide position--absolute" src="./img/sections/section-testimonials/slide_2.webp" alt="Slide 2">
            <img data-img="3" loading="lazy" height="445" width="752" class="testimonials__slide position--absolute" src="./img/sections/section-testimonials/slide_3.webp" alt="Slide 3">
        </div>

        <div class="testimonials__data">
            <h2 class="testimonials__title font--size-40 font--medium color--text">What Our Users Are Saying</h2>

            <div class="testimonials__container flex flex--align-center">
                <span data-dot="1" class="testimonials__slider-dot active"></span>
                <span data-dot="2" class="testimonials__slider-dot"></span>
                <span data-dot="3" class="testimonials__slider-dot"></span>
            </div>

            <div class="testimonials__testimonial-wrapper flex flex--align-center">
                <div data-slide="1" class="testimonials__testimonial">
                    <div class="flex flex--align-center mb--20">
                        <div class="testimonials__avatar lazy-bg" data-bg="./img/sections/section-testimonials/avatar_1.webp"></div>

                        <div class="testimonials__info flex flex--column">
                            <h3 class="font--size-20 font--medium color--text">Sofian Novnanian</h3>
                            <span class="font--size-14 font--normal color--text">Tournament direction</span>
                        </div>
                    </div>

                    <p class="testimonials__text font--size-20 font--normal color--subtext position--relative">Fitofan made our day extremely smooth and manageable for over a 1000 competitors in 1 day</p>
                </div>

                <div data-slide="2" class="testimonials__testimonial">
                    <div class="flex flex--align-center mb--20">
                        <div class="testimonials__avatar lazy-bg" data-bg="./img/sections/section-testimonials/avatar_2.webp"></div>

                        <div class="testimonials__info flex flex--column">
                            <h3 class="font--size-20 font--medium color--text">Tommy Chang</h3>
                            <span class="font--size-14 font--normal color--text">President of the Black Belt World Canada</span>
                        </div>
                    </div>

                    <p class="testimonials__text font--size-20 font--normal color--subtext position--relative">Fitofan helped us maintain a streamline and made our event so much easier.</p>
                </div>

                <div data-slide="3" class="testimonials__testimonial">
                    <div class="flex flex--align-center mb--20">
                        <div class="testimonials__avatar lazy-bg" data-bg="./img/sections/section-testimonials/avatar_3.webp"></div>

                        <div class="testimonials__info flex flex--column">
                            <h3 class="font--size-20 font--medium color--text">Ian Garcia</h3>
                            <span class="font--size-14 font--normal color--text">Coach</span>
                        </div>
                    </div>

                    <p class="testimonials__text font--size-20 font--normal color--subtext position--relative">I love that I can find my athletes online and see how they did, so we can keep working and come back stronger.</p>
                </div>
            </div>
        </div>
    </div>
</section>