<section class="section__explore">
    <section class="section__explore-group section__explore-group-one">
        <div data-id="members" class="section__explore-container section__explore-offset flex flex--align-center flex--justify-center">
            <div class="section__explore-card flex--auto position--relative mr--25">
                <div class="section__explore-card-wrapper position--relative">
                    <div class="flex flex--align-center mb--15">
                        <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_members.svg" alt="Icon Members">

                        <h2 class="color--orange font--size-20 font--medium">Members</h2>
                    </div>

                    <p class="color--text font--size-28 font--medium mb--25">Manage members’ profiles with <br> AI support tools to keep them engaged</p>

                    <div class="section__explore-card-media lazy-bg" data-bg="./img/sections/section-features/image_members.webp"></div>
                </div>
            </div>

            <div class="section__explore-card-interactive flex--grow">
                <div class="section__explore-card-small position--relative">
                    <img class="section__explore-card-small-student position--relative" loading="lazy" width="68" height="68" src="./img/sections/section-explore/members/avatar_card_student_1.webp" alt="Abelin Osnie">

                    <div class="section__explore-card-small-wrapper position--relative flex flex--column flex--justify-center flex--align-center pt--20">
                        <span class="section__explore-card-small-name font--size-14 font--normal">Abelin Osnie</span>

                        <span class="section__explore-card-small-info font--size-11 font--normal">Coach</span>
                    </div>
                </div>

                <div class="section__explore-card-small position--relative">
                    <img class="section__explore-card-small-student position--relative" loading="lazy" width="76" height="76" src="./img/sections/section-explore/members/avatar_card_student_2.webp" alt="Ethan Noah">

                    <div class="section__explore-card-small-wrapper position--relative flex flex--column flex--justify-center flex--align-center pt--10">
                        <span class="section__explore-card-small-name font--size-14 font--normal">Ethan Noah</span>

                        <img loading="lazy" width="69" height="12" src="./img/sections/section-explore/members/ellipses_card_student_2.svg" alt="Ellipses">
                    </div>
                </div>

                <div class="section__explore-card-small position--relative">
                    <img class="section__explore-card-small-student position--relative" loading="lazy" width="76" height="76" src="./img/sections/section-explore/members/avatar_card_student_3.webp" alt="Hope Spencer">

                    <div class="section__explore-card-small-wrapper position--relative flex flex--column flex--justify-center flex--align-center pt--15">
                        <span class="section__explore-card-small-name font--size-14 font--normal">Hope Spencer</span>
                    </div>
                </div>
            </div>
        </div>


        <div data-id="classes" class="section__explore-container section__explore-offset flex flex--align-center flex--justify-center">
            <div class="section__explore-card-interactive flex--grow">
                <ul class="flex flex--column">
                    <li class="section__explore-list-item flex flex--align-center position--relative">
                        <span class="section__explore-list-text font--medium font--size-14">Match Strategy & Tactics</span>
                    </li>

                    <li class="section__explore-list-item flex flex--align-center position--relative">
                        <span class="section__explore-list-text color--text font--medium font--size-14">Kyorugi (Sparring) Training...</span>
                    </li>

                    <li class="section__explore-list-item flex flex--align-center position--relative">
                        <span class="section__explore-list-text color--text font--medium font--size-14">Poomsae Master Class...</span>
                    </li>

                    <li class="section__explore-list-item flex flex--align-center position--relative">
                        <span class="section__explore-list-text font--medium font--size-14">Master Class</span>
                    </li>

                    <li class="section__explore-list-item flex flex--align-center position--relative">
                        <span class="section__explore-list-text font--medium font--size-14">Kyorugi Combat Strategies</span>
                    </li>
                </ul>
            </div>

            <div class="section__explore-card flex--auto position--relative ml--25">
                <div class="section__explore-card-wrapper position--relative">
                    <div class="flex flex--align-center mb--15">
                        <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_classes.svg" alt="Icon Classes">

                        <h2 class="color--yellow font--size-20 font--medium">Classes</h2>
                    </div>

                    <p class="color--text font--size-28 font--medium mb--25">Create and add classes and <br> special courses instantly updating your schedule</p>

                    <div class="section__explore-card-media lazy-bg" data-bg="./img/sections/section-features/animation_classes.webp"></div>
                </div>
            </div>
        </div>
    </section>



    <section class="section__explore-group section__explore-group-two">
        <div data-id="schedule" class="section__explore-container section__explore-offset flex flex--align-center flex--justify-center">
            <div class="section__explore-card flex--auto position--relative mr--25">
                <div class="section__explore-card-wrapper position--relative">
                    <div class="flex flex--align-center mb--15">
                        <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_schedule.svg" alt="Icon Schedule">

                        <h2 class="color--sky-blue font--size-20 font--medium">Schedule</h2>
                    </div>

                    <p class="color--text font--size-28 font--medium mb--25">Publish and edit your schedule live <br> on your public club page and share to all social networks</p>

                    <div class="section__explore-card-media lazy-bg" data-bg="./img/sections/section-features/animation_schedule.webp"></div>
                </div>
            </div>

            <div class="section__explore-card-interactive-schedule flex--grow">
                <ul class="section__explore-schedule flex flex--column">
                    <li class="section__explore-schedule-item flex flex--align-center flex--justify-between">
                        <div class="section__explore-schedule-item-text position--relative flex flex--column">
                            <span class="section__explore-schedule-text font--size-16 font--medium color--text">Pre-Competitive. Recreatio...</span>
                            <span class="section__explore-schedule-text color--subtext font--size-14 font--normal">8 AM - 10 AM</span>
                            <span class="section__explore-schedule-text color--subtext font--size-14 font--normal">15 members</span>
                        </div>

                        <img loading="lazy" width="24" height="24" src="./img/icons/icon_more.svg" alt="Icon More">
                    </li>

                    <li class="section__explore-schedule-item flex flex--align-center flex--justify-between">
                        <div class="section__explore-schedule-item-text position--relative flex flex--column">
                            <span class="section__explore-schedule-text font--size-16 font--medium color--text">Morning Warm-Up</span>
                            <span class="section__explore-schedule-text color--subtext font--size-14 font--normal">9 AM - 11 AM</span>
                            <span class="section__explore-schedule-text color--subtext font--size-14 font--normal">40 members</span>
                        </div>

                        <img class="section__explore-schedule-img" loading="lazy" width="24" height="24" src="./img/icons/icon_more.svg" alt="Icon More">
                    </li>

                    <li class="section__explore-schedule-item flex flex--align-center flex--justify-between">
                        <div class="section__explore-schedule-item-text position--relative flex flex--column">
                            <span class="section__explore-schedule-text font--size-16 font--medium color--text">Pre-Injury Prevention & Rec...</span>
                            <span class="section__explore-schedule-text color--subtext font--size-14 font--normal">1 PM - 3 PM</span>
                            <span class="section__explore-schedule-text color--subtext font--size-14 font--normal">32 members</span>
                        </div>

                        <img class="section__explore-schedule-img" loading="lazy" width="24" height="24" src="./img/icons/icon_more.svg" alt="Icon More">
                    </li>

                    <li class="section__explore-schedule-item flex flex--align-center flex--justify-between">
                        <div class="section__explore-schedule-item-text position--relative flex flex--column">
                            <span class="section__explore-schedule-text font--size-16 font--medium color--text">Advanced Kick Combinatio...</span>
                            <span class="section__explore-schedule-text color--subtext font--size-14 font--normal">3 PM - 5 PM</span>
                            <span class="section__explore-schedule-text color--subtext font--size-14 font--normal">24 members</span>
                        </div>

                        <img loading="lazy" width="24" height="24" src="./img/icons/icon_more.svg" alt="Icon More">
                    </li>
                </ul>
            </div>
        </div>


        <div data-id="attendance" class="section__explore-container section__explore-offset flex flex--align-center flex--justify-center">
            <div class="section__explore-card-interactive flex flex--column flex--grow">
                <div class="section__explore-attendance-card attendance-card--js position--relative flex flex--align-end flex--justify-center">
                    <img class="section__explore-attendance-img position--absolute" loading="lazy" width="68" height="68" src="./img/sections/section-explore/attendance/avatar_card_student_1.webp" alt="Xaver Diana">

                    <div class="section__explore-attendance-wrapper flex flex--column flex--align-center position--relative">
                        <span class="section__explore-attendance-name font--medium font--size-14">Xaver Diana</span>

                        <span class="color--subtext font--size-11 font--normal">Black belt</span>
                    </div>

                    <div class="section__explore-attendance-checkbox position--absolute"></div>
                </div>

                <div class="section__explore-attendance-card checked position--relative flex flex--align-end flex--justify-center">
                    <img class="section__explore-attendance-img position--absolute" loading="lazy" width="68" height="68" src="./img/sections/section-explore/attendance/avatar_card_student_2.webp" alt="Sawyer Dylan">

                    <div class="section__explore-attendance-wrapper flex flex--column flex--align-center position--relative">
                        <span class="section__explore-attendance-name font--medium font--size-14">Sawyer Dylan</span>

                        <span class="color--subtext font--size-11 font--normal">Yellow belt</span>
                    </div>

                    <div class="section__explore-attendance-checkbox position--absolute"></div>
                </div>

                <div class="section__explore-attendance-card unchecked position--relative flex flex--align-end flex--justify-center">
                    <img class="section__explore-attendance-img position--absolute" loading="lazy" width="68" height="68" src="./img/sections/section-explore/attendance/avatar_card_student_3.webp" alt="Sawyer Dylan">

                    <div class="section__explore-attendance-wrapper flex flex--column flex--align-center position--relative">
                        <span class="section__explore-attendance-name font--medium font--size-14">Bruno Nino</span>
                    </div>

                    <div class="section__explore-attendance-checkbox position--absolute"></div>
                </div>
            </div>

            <div class="section__explore-card flex--auto position--relative ml--10">
                <div class="section__explore-card-wrapper position--relative">
                    <div class="flex flex--align-center mb--15">
                        <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_attendance.svg" alt="Icon Attendance">

                        <h2 class="color--purple font--size-20 font--medium">Attendance</h2>
                    </div>

                    <p class="color--text font--size-28 font--medium mb--25">Track attendance <br> and get notified when athletes are ready to test</p>

                    <div class="section__explore-card-media lazy-bg" data-bg="./img/sections/section-features/animation_attendance.webp"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="section__explore-group section__explore-group-three">
        <div data-id="packages" class="section__explore-container section__explore-offset flex flex--align-center flex--justify-center">
            <div class="section__explore-card flex--auto position--relative">
                <div class="section__explore-card-wrapper position--relative">
                    <div class="flex flex--align-center mb--15">
                        <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_packages.svg" alt="Icon Packages">

                        <h2 class="color--teal font--size-20 font--medium">Packages</h2>
                    </div>

                    <p class="color--text font--size-28 font--medium mb--25">Set up membership plans, <br> pricing options and automatic subscriptions</p>

                    <div class="section__explore-card-media lazy-bg" data-bg="./img/sections/section-features/animation_packages.webp"></div>
                </div>
            </div>

            <div class="section__explore-card-interactive-packages flex--grow">
                <ul class="section__explore-packages flex flex--column">
                    <li class="section__explore-packages-item flex position--relative">
                        <div class="section__explore-packages-wrapper flex flex--column position--relative">
                            <span class="section__explore-packages-title font--medium font--size-14 color--text">10 Class Pass</span>
                            <span class="section__explore-packages-subtitle font--size-12 font--medium">$ 150.00</span>
                        </div>
                    </li>

                    <li class="section__explore-packages-item flex position--relative">
                        <div class="section__explore-packages-wrapper flex flex--column position--relative">
                            <span class="section__explore-packages-title font--medium font--size-14 color--text">Ultimate color belt</span>
                            <span class="section__explore-packages-subtitle font--size-12 font--medium">$ 140.00</span>
                        </div>
                    </li>

                    <li class="section__explore-packages-item flex position--relative">
                        <div class="section__explore-packages-wrapper flex flex--column position--relative">
                            <span class="section__explore-packages-title font--medium font--size-14 color--text">Ultimate Beginner</span>
                            <span class="section__explore-packages-subtitle font--size-12 font--medium">$ 99.00</span>
                        </div>
                    </li>
                </ul>

                <div class="section__explore-packages-img lazy-bg position--relative" data-bg="./img/sections/section-explore/packages/image_card_packages.svg"></div>
            </div>
        </div>


        <div data-id="finance" class="section__explore-container section__explore-offset flex flex--align-center flex--justify-center">
            <div class="section__explore-card-interactive-finance flex flex--column flex--grow">
                <div class="section__explore-finance-wrapper flex flex--column">
                    <img class="section__explore-finance-avatar position--relative" width="160" height="160" loading="lazy" src="./img/sections/section-explore/finance/avatar_card_1.webp" alt="Avatar">

                    <img class="section__explore-finance-avatar position--relative" width="200" height="200" loading="lazy" src="./img/sections/section-explore/finance/avatar_card_2.webp" alt="Avatar">
                </div>
            </div>

            <div class="section__explore-card flex--auto position--relative ml--10">
                <div class="section__explore-card-wrapper position--relative">
                    <div class="flex flex--align-center mb--15">
                        <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_finance.svg" alt="Icon Finance">

                        <h2 class="color--blue font--size-20 font--medium">Finance</h2>
                    </div>

                    <p class="color--text font--size-28 font--medium mb--25">Reoccurring payments, automatic invoices, <br> payment notifications, statistics and reports</p>

                    <div class="section__explore-card-media lazy-bg" data-bg="./img/sections/section-features/animation_finance.webp"></div>
                </div>
            </div>
        </div>
    </section>



    <section class="section__explore-group section__explore-group-four">
        <div data-id="marketplace" class="section__explore-container section__explore-offset flex flex--align-center flex--justify-center">
            <div class="section__explore-card flex--auto position--relative">
                <div class="section__explore-card-wrapper position--relative">
                    <div class="flex flex--align-center mb--15">
                        <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_marketplace.svg" alt="Icon Marketplace">

                        <h2 class="color--red font--size-20 font--medium">Marketplace</h2>
                    </div>

                    <p class="color--text font--size-28 font--medium mb--25">Manage your inventories, <br> sell online, fulfill orders and download all reports</p>

                    <div class="section__explore-card-media lazy-bg" data-bg="./img/sections/section-features/animation_marketplace.webp"></div>
                </div>
            </div>

            <div class="section__explore-card-interactive-marketplace flex--grow">
                <div class="section__explore-marketplace-img lazy-bg position--relative" data-bg="./img/sections/section-explore/marketplace/image_card_marketplace.svg"></div>
            </div>
        </div>


        <div class="section__explore-container flex flex--align-center flex--justify-center">
            <div class="section__explore-card-interactive-texter flex flex--column flex--grow">
                <div class="section__explore-texter-wrapper flex flex--column">
                    <img class="section__explore-texter-img position--relative" width="227" height="400" loading="lazy" src="./img/sections/section-explore/texter/image_phone.webp" alt="Phone">

                    <div class="section__explore-texter-container flex flex--align-center flex--justify-center">
                        <a class="flex" href="https://apps.apple.com/ca/app/fitofan/id6475638965" rel="nofollow noopener" target="_blank">
                            <img loading="lazy" width="48" height="48" src="./img/icons/icon_apple.svg" alt="App Store">
                        </a>

                        <a class="flex" href="https://play.google.com/store/apps/details?id=com.fitofan.mobile" rel="nofollow noopener" target="_blank">
                            <img loading="lazy" width="48" height="48" src="./img/icons/icon_gp.svg" alt="Google Play Market">
                        </a>
                    </div>
                </div>
            </div>

            <div class="section__explore-card flex--auto position--relative ml--15">
                <div data-id="texter" class="section__explore-card-wrapper position--relative">
                    <div class="flex flex--align-center mb--15">
                        <img loading="lazy" width="44" height="44" class="section__features-item-icon" src="./img/icons/icon_texter.svg" alt="Icon Texter">

                        <h2 class="color--moss font--size-20 font--medium">Texter</h2>
                    </div>

                    <p class="color--text font--size-28 font--medium mb--25">Connect with club members via <br> Fitofan App notifications personally and in custom groups</p>

                    <div class="section__explore-card-media lazy-bg" data-bg="./img/sections/section-features/animation_texter.webp"></div>
                </div>
            </div>
        </div>
    </section>
</section>