.footer {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 180px;

    @media (min-width: 1024px) {
        padding-top: 120px;
    }

    &__info {
        @media (min-width: 1024px) {
            display: none;
        }

        &-desktop {
            display: none;

            @media (min-width: 1024px) {
                display: flex;
                white-space: nowrap;

                &-links {
                    flex-grow: 1;
                    max-width: 600px;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__container {
            white-space: nowrap;

            &-title {
                @include font(32);
            }

            &-subtitle {
                @include font(48);
            }
        }
    }

    &__nav {
        @media (min-width: 1024px) {
            flex-grow: 1;
            max-width: 600px;
        }

        &-item {
            @media (min-width: 1024px) {
                display: none;
            }

            &-desktop {
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                }
            }
        }

        &-link {
            transition: .4s;

            &:hover {
                color: var(--color--light-gray);
            }

            &-info {
                transition: .4s;

                @media (min-width: 1024px) {
                    &:first-child {
                        margin-right: 160px;
                    }
                }

                &:hover {
                    color: var(--color--white);
                }
            }
        }
    }
}