.footer {
    &__nav {
        &-link {
            transition: .4s;

            &:hover {
                color: var(--color--light-gray);
            }

            &-info {
                transition: .4s;

                &:hover {
                    color: var(--color--white);
                }
            }
        }
    }
}