.header {
    height: 72px;
    transition: background .8s ease;
    top: 0;
    width: 100%;
    z-index: 999;
    pointer-events: all;

    @media (min-width: 1024px) {
        padding-left: 80px;
        padding-right: 85px;
        justify-content: space-between;
    }

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
    }

    &.float {
        background: rgba(255, 255, 255, .02);
        backdrop-filter: blur(150px);

        &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            height: 2px;
            display: block;
            background: radial-gradient(100% 100% at 50% 0, rgba(255, 255, 255, 0.31) 0%, #ffffff00 55%);

        }
    }

    &__burger {
        height: 40px;
        width: 40px;
        background-color: transparent;

        @media (min-width: 1024px) {
            display: none;
        }

        &-icon {
            overflow: visible;
        }

        &-line {
            transition: 0.2s;
            transform-origin: center center;
        }

        &.active {
            .header__burger-line {
                &:nth-child(1) {
                    transform: translate(-2.7px, 2.7px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translate(-2.7px, -2.7px) rotate(-45deg);
                }
            }
        }
    }

    &__menu {
        display: none;

        @media (min-width: 1024px) {
            display: flex;
        }

        &-list {
            &-item {
                transition: .4s;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #ffffff14;

                    .header__menu-link {
                        color: var(--color--text);
                    }
                }
            }
        }

        &-link {
            transition: .4s;
        }

        &-btn {
            transition: all .4s ease-in-out;
            cursor: pointer;
            padding: 10px 12px 10px 16px;
            border-radius: 8px;

            &:hover,
            &.active {
                background-color: #ffffff14;

                span {
                    color: var(--color--text);
                }
            }

            &-img {
                transition: transform .4s;

                &.active {
                    transform: rotate(180deg);
                }
            }

            &-container {
                left: -22px;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.05);
                background: rgba(255, 255, 255, 0.02);
                backdrop-filter: blur(50px);
                top: 40px;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                transition: opacity .4s ease-in-out;

                &.active {
                    visibility: visible;
                    pointer-events: all;
                    opacity: 1;
                }
            }
        }
    }
}