.header {
    height: 72px;
    transition: background .8s ease;
    top: 0;
    width: 100%;
    z-index: 999;
    pointer-events: all;

    @include media-query($laptop) {
        padding-left: 80px;
        padding-right: 80px;
    }

    &.float {
        background: rgba(255, 255, 255, .02);
        backdrop-filter: blur(50px);

        &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            height: 2px;
            display: block;
            background: radial-gradient(100% 100% at 50% 0, rgba(255, 255, 255, 0.31) 0%, #ffffff00 55%);

        }
    }

    &__burger {
        height: 40px;
        width: 40px;
        background-color: transparent;

        @include media-query($laptop) {
            display: none;
        }

        &-icon {
            overflow: visible;
        }

        &-line {
            transition: 0.2s;
            transform-origin: center center;
        }

        &.active {
            .header__burger-line {
                &:nth-child(1) {
                    transform: translate(-2.7px, 2.7px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translate(-2.7px, -2.7px) rotate(-45deg);
                }
            }
        }
    }

    &__menu {
        display: none;

        @include media-query($laptop) {
            display: flex;
        }

        &-list {
            &-item {
                transition: .4s;

                &:hover {
                    background-color: #4543436b;
                    border-radius: 4px;
                }
            }
        }

        &-link {
            transition: .4s;

            &:hover {
                color: var(--color--text);
            }
        }
    }
}