<!--
<div class="popup" id="popup">
    <div class="popup__content pt&#45;&#45;30 position&#45;&#45;relative">
        <button type="button" onclick="closePopup()" class="popup__content-close position&#45;&#45;absolute flex flex&#45;&#45;justify-center flex&#45;&#45;align-center">
            <img loading="lazy" width="24" height="24" src="./img/icons/icon_close.svg" alt="Icon close popup">
        </button>

        <h2 class="color&#45;&#45;text font&#45;&#45;size-24 font&#45;&#45;normal text&#45;&#45;center mb&#45;&#45;15">Let’s Chat!</h2>

        <p class="popup__content-subtitle font&#45;&#45;size-14 font&#45;&#45;normal text&#45;&#45;center color&#45;&#45;muted mb&#45;&#45;30">Are you ready to learn more about Fitofan's features? Here, you can schedule a short meeting to discuss your objectives, our services, and explore opportunities for partnership.</p>

        <h3 class="font&#45;&#45;size-16 font&#45;&#45;medium color&#45;&#45;text text&#45;&#45;center mb&#45;&#45;30">Select Day</h3>

        <div id="calendar" class="popup__calendar mb&#45;&#45;25 position&#45;&#45;relative pl&#45;&#45;10 pr&#45;&#45;10 pb&#45;&#45;10 pt&#45;&#45;10"></div>

        <button class="btn flex flex&#45;&#45;align-center flex&#45;&#45;justify-center" disabled>
            <span class="color&#45;&#45;white font&#45;&#45;size-14 font&#45;&#45;medium">Next</span>
            <img loading="lazy" width="18" height="18" src="./img/icons/icon_arrow_right.svg" alt="Icon next">
        </button>
    </div>
</div>-->
