<div class="popup" id="popup">
    <div class="popup__content pt--30 position--relative">
        <button type="button" onclick="closePopup()" class="popup__content-close position--absolute flex flex--justify-center flex--align-center">
            <img loading="lazy" width="24" height="24" src="../img/icons/icon_close.svg" alt="Icon close popup">
        </button>

        <h2 class="color--text font--size-24 font--normal text--center mb--15">Let’s Chat!</h2>

        <p class="popup__content-subtitle font--size-14 font--normal text--center color--muted mb--30">Are you ready to learn more about Fitofan's features? Here, you can schedule a short meeting to discuss your objectives, our services, and explore opportunities for partnership.</p>

        <h3 class="font--size-16 font--medium color--text text--center mb--30">Select Day</h3>

        <div id="calendar" class="popup__calendar mb--25 position--relative pl--10 pr--10 pb--10 pt--10"></div>

        <button class="btn flex flex--align-center flex--justify-center" disabled>
            <span class="color--white font--size-14 font--medium">Next</span>
            <img loading="lazy" width="18" height="18" src="../img/icons/icon_arrow_right.svg" alt="Icon next">
        </button>
    </div>
</div>