.popup-chat {
    bottom: 145px;
    right: 13px;
    background-color: transparent;
    z-index: 999;
}

.shake {
    animation: shaking .5s ease-in-out;
}

@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}