.popup-chat {
    bottom: 8px;
    right: 0;
    background-color: transparent;
    z-index: 997;
    transition: transform .4s;

    @media (min-width: 1024px) {
        right: 13px;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__window {
        position: fixed;
        bottom: 70px;
        right: 8px;
        width: 500px;
        overflow: hidden;
        transform: scale(0);
        opacity: 0;
        transform-origin: bottom right;
        transition: transform .2s ease-out, opacity .2s ease-out;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, .10);
        background-color: #151515;
        padding: 24px;
        gap: 24px;
        background-image: url('../img/chat/gradient_chat.svg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: auto;
        touch-action: auto;

        @media (max-width: 767px) {
            max-width: 358px;
            width: calc(100dvw - 16px);
            padding: 16px;
            gap: 16px;
        }

        @media (min-width: 1024px) {
            right: 20px;
        }

        &.active {
            transform: scale(1);
            opacity: 1;
            z-index: 999;
        }
    }

    &__container {
        gap: 16px;
    }

    &__header {
        gap: 8px;
    }

    @media (max-width: 767px) {
        &__subtitle {
            @include font(14);
        }
    }

    &__subtext {
        margin-bottom: 8px;
    }

    &__timestamp {
        color: rgba(255, 255, 255, .45);
    }

    &__wrapper {
        padding: 16px;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, .05);
        height: 292px;
    }

    &__typing {
        gap: 4px;
        max-width: 64px;

        &-dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--color--green);
            animation: bounce 1.5s infinite ease-in-out;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: .2s;
            }

            &:nth-child(3) {
                animation-delay: .5s;
            }
        }
    }

    &__msg {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, .1);
        padding: 16px;
        width: 64px;
        height: 36px;
        transition: width .4s, height .8s .4s;

        &.visible {
            width: 212px;
            height: 92px;
        }

        &-block {
            opacity: 0;
            transition: opacity .4s;

            &.visible {
                opacity: 1;
            }
        }

        &-time {
            padding-top: 24px;
            gap: 16px;
        }
    }

    &__close {
        padding: 6px;
        top: 0;
        right: 0;

        &:hover {
            cursor: pointer;
            background-color: #212121;
            border-radius: 50%;
        }
    }

    &__avatar {
        border-radius: 50%;
        background-color: var(--color--surface-dark);
        height: 60px;
        width: 60px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 767px) {
            height: 52px;
            width: 52px;
        }
    }

    &__field {
        padding: 16px 62px 16px 16px;
        color: #E0E3E7;
        background-color: #222222;
        height: 50px;
        border-radius: 24px;
        width: 100%;
        resize: none;
        overflow: hidden;
        max-height: 176px;
        transition: background-color .4s;

        @media (max-width: 767px) {
            &:active,
            &:focus {
                background-color: var(--color--surface-dark);
            }
        }

        &::placeholder {
            color: #ADADAD;
        }

        &-wrapper {
            width: 100%;

            &:before {
                content: attr(data-placeholder);
                position: absolute;
                top: 16px;
                left: 16px;
                color: #aaa;
                pointer-events: none;
                font-size: .875rem;
                font-weight: 400;
            }
        }
    }

    &__link {
        right: 16px;
        top: 50%;
        transform: translateY(calc(-50% - 2px));
        width: 32px;
        height: 32px;
        background-image: url('../img/icons/icon_chat_send.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: transparent;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .4s;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        &.floating {
            bottom: 24px;
            transform: none;
            top: auto;
        }
    }

    &__status {
        background-color: var(--color--green);
        border-radius: 50%;
        border: 1px solid var(--color--white);
        height: 16px;
        width: 16px;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        animation: pulse 2s infinite ease-in-out;

        @media (max-width: 767px) {
            height: 12px;
            width: 12px;
        }
    }
}

.shake {
    animation: shaking .5s ease-in-out;
}

@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.06);
        opacity: .9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
