.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
    pointer-events: auto;

    &__content {
        max-width: 351px;
        max-height: 100%;
        width: 100%;
        overflow: auto;
        border-radius: 24px;
        padding: 24px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: #151515;
        pointer-events: all;

        @media (min-width: 768px) {
            max-width: 652px;
        }

        &-subtitle {
            color: rgba(255, 255, 255, 0.45);
            line-height: 20px;

            @media (min-width: 768px) {
                max-width: 380px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &-close {
            right: 15px;
            top: 15px;
            background-color: transparent;
            padding: 8px;
        }

        &-data {
            display: none;

            &-wrapper {
                background-color: var(--color--surface-dark);
                padding: 12px 16px;
                gap: 8px;
                border-radius: 8px;
                margin-bottom: 24px;
            }
        }

        &-text {
            padding: 6px 16px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, .10);
            margin-left: 16px;
            margin-right: 8px;
            width: 94px;
        }
    }

    &__container {
        &-btn {
            &-mobile {
                @media (min-width: 768px) {
                    display: none;
                }
            }

            &-desktop {
                display: none;

                @media (min-width: 768px) {
                    display: flex;
                }
            }
        }
    }

    &__heading {
        @media (min-width: 768px) {
            display: none !important;
        }

        &-desktop {
            display: none;

            @media (min-width: 768px) {
                display: flex;
                gap: 24px;
            }
        }

        &-calendar {
            width: 328px;
            text-align: center;
        }

        &-time {
            width: 248px;
            text-align: center;
        }
    }

    &__calendar {
        border-radius: 16px;
        overflow: hidden;

        &-btn {
            &-next {
                gap: 8px;

                @media (min-width: 768px) {
                    max-width: 154px;
                    margin-left: auto;
                }

                span,
                img {
                    z-index: 1;
                }

                &.disabled {
                    background: rgba(255, 255, 255, .12);
                    pointer-events: none;
                    opacity: .38;
                }

                &.time {
                    max-width: 96px;
                }
            }

            &-back {
                display: none;
                background-color: transparent;

                &.visible {
                    display: flex;
                }
            }

            &-send {
                display: none;
                width: 154px;
                gap: 8px;

                &.disabled {
                    background: rgba(255, 255, 255, .12);
                    pointer-events: none;
                    opacity: .38;
                }

                &.visible {
                    display: flex;
                }
            }
        }

        &-wrapper {
            width: 100%;
            overflow: hidden;

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__time {
        height: 348px;
        background-color: var(--color--surface-dark);
        border-radius: 16px;
        padding: 8px 16px;
        overflow: hidden;
        width: 100%;

        @media (min-width: 768px) {
            width: 248px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 64px;
            background: linear-gradient(180deg, rgba(9, 9, 9, 0.00) 0%, #090909 75%);
            border-radius: 0 0 16px 16px;
            pointer-events: none;
        }

        &-list {
            overflow: scroll;
            height: 325px;
            gap: 10px;
            padding: 8px 0;
            width: 100%;
            overflow-x: hidden;
        }

        &-selected {
            color: var(--color--green);
        }

        &-item {
            padding: 12px;
            transition: .4s;
            border-radius: 8px;

            &:hover {
                z-index: 1;
                background: rgba(255, 255, 255, .08);
            }

            &.chosen {
                background-color: var(--color--green);
                color: #003726;
                z-index: 1;
            }
        }
    }

    &__form {
        gap: 48px;
        margin-bottom: 24px;
        display: none;

        @media (min-width: 768px) {
            padding-top: 24px;
        }

        &.visible {
            display: flex;
        }

        &-container {
            gap: 48px;

            @media (min-width: 768px) {
                flex-direction: row;
                gap: 16px;

                & * {
                    flex: 1;
                }
            }
        }

        &-field {
            border-radius: 5px;
            border: 1px solid #3A3A3A;
            height: 40px;
            padding: 8px 46px 8px 16px;
            line-height: 40px;
            background-color: transparent;
            width: 100%;
            transition: .4s;

            &:hover {
                border-color: var(--color--text);
            }

            &:active,
            &:focus {
                border-color: var(--color--green);
                background-color: rgba(255, 255, 255, .10);
            }
        }

        &-textarea {
            height: 116px;
            resize: none;
            line-height: 20px;
            border-radius: 5px;
            border: 1px solid #3A3A3A;
            padding: 8px 16px;
            background-color: transparent;
            width: 100%;
            transition: .4s;

            &:hover {
                border-color: var(--color--text);
            }

            &:active,
            &:focus {
                border-color: var(--color--green);
                background-color: rgba(255, 255, 255, .10);
            }

            @media (min-width: 768px) {
                height: 80px;
            }
        }

        &-label {
            top: -24px;
            left: 0;
        }
    }

    &__success {
        padding: 32px 24px 24px;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, .10);
        background-color: #151515;
        display: none;

        @media (min-width: 768px) {
            max-width: 426px;
        }

        &-container {
            z-index: 2;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: -15px;
                width: 100%;
                height: 144px;
                pointer-events: none;
                z-index: 1;
                background-image: url('../img/forms/gradient_success.svg');
            }
        }

        &-icon {
            margin-bottom: 32px;
            z-index: 2;
        }

        &-title {
            margin-bottom: 8px;
        }

        &-text {
            margin-bottom: 32px;
        }

        &-btn {
            width: 92px;
            height: 40px;
        }

        &-close {
            color: #ffffff;
            z-index: 2;
        }
    }

    &__field {
        &-wrapper {
            &:after {
                content: '';
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../img/icons/icon_field_clear.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 14px;
                height: 14px;
                cursor: pointer;
                pointer-events: none;
                opacity: 0;
                transition: .4s;
            }

            &:before {
                content: '';
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../img/icons/icon_field_alert.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 24px;
                height: 24px;
                cursor: pointer;
                pointer-events: none;
                opacity: 0;
                transition: .4s;
            }

            &.clear {
                &:after {
                    pointer-events: all;
                    opacity: 1;
                }

                &:hover {
                    .popup__form-field {
                        border-color: var(--color--text);
                    }
                }
            }

            &.alert {
                &:after {
                    pointer-events: none;
                    opacity: 0;
                }

                &:before {
                    pointer-events: none;
                    opacity: 1;
                }

                &:hover {
                    .popup__form-field {
                        border-color: var(--color--text);
                    }
                }
            }
        }
    }
}

.field--error {
    border-color: #FC6B6B;

    &:focus,
    &:active {
        border-color: #FC6B6B;
    }
}