.popup-to-top {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.30);
    bottom: 141px;
    right: 8px;
    padding: 6.5px 8px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 990;
    transition: all .4s;

    @media (min-width: 1024px) {
        right: 22px;

        &:hover {
            transform: scale(1.1);
        }
    }

    &.visible {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}