:root {
    --color--surface-dark: #090909;
    --color--text: #E0E3E7;
    --color--muted: #ffffffb3;
    --color--light-gray: #ffffff73;
    --color--white: #ffffff;
    --color--green: #00B57C;
    --color--orange: #FF7A30;
    --color--yellow: #FFC700;
    --color--sky-blue: #15B0E6;
    --color--blue: #287EFE;
    --color--purple: #B931E9;
    --color--aqua: #229994;
    --color--teal: #1D9590;
    --color--red: #EC4343;
    --color--emerald: #25763A;
    --color--moss: #26763B;
}